@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

::selection {
  background-color: orangered;
  color: white;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--foreground);
  color: var(--background);
  @apply bg-white dark:bg-black dark:text-white;
}

